$breakpoint-small: 576px;

$breakpoint-medium: 768px;

$breakpoint-large: 992px;

$first-light-color: #FFF0E9;

$second-light-color: rgba(255, 240, 233, 0.5);

$third-light-color: rgba(255, 255, 255, 0.5);

$fourth-light-color: rgba(255, 240, 233, 0.7);

$first-dark-color: #1F1F39;

$second-dark-color: rgba(31, 31, 57, 0.5);
