$breakpoint-xsmall: 450px;

$breakpoint-small: 576px;

$breakpoint-medium: 768px;

$breakpoint-large: 992px;

$prime-color: #FFF0E9;

$footer-background: #1F1F39;

$prime-background: rgba(255, 240, 233, 0.5);

$input-background: rgba(255, 240, 233, 0.7);